stages:
  - install
  - build
  - deploy

variables:
  PROJECT_NAME: spider-cloud-frontend-vue
  GIT_CLEAN_FLAGS: -ffdx -e node_modules/ -e .npmrc

.default_rules: &default_rules
  rules:
    - if: $CI_COMMIT_BRANCH =~ main
      when: always
    - when: manual

install_dependencies:
  stage: install
  image: lsage/pnpm-circleci-node:16.13.1-pnpm7.5.1
  <<: *default_rules
  script:
    - sudo pnpm config set store-dir /share_pnpm_store
    - sudo pnpm install
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 day
  tags:
    - share-fe-package-runner

build_pc:
  stage: build
  image: lsage/pnpm-circleci-node:16.13.1-pnpm7.5.1
  <<: *default_rules
  script:
    - pnpm run build-test:pc
  artifacts:
    paths:
      - packages/pc/dist/
    expire_in: 1 day
  tags:
    - share-fe-package-runner
  needs:
    - install_dependencies

deploy_pc:
  stage: deploy
  image: lsage/pnpm-circleci-node:16.13.1-pnpm7.5.1
  <<: *default_rules
  script:
    - sudo /bin/rm -rf /deploy_folder/${PROJECT_NAME}-pc
    - sudo mkdir -p /deploy_folder/${PROJECT_NAME}-pc
    - sudo chmod 777 /deploy_folder/${PROJECT_NAME}-pc
    - /bin/mv  packages/pc/dist/** /deploy_folder/${PROJECT_NAME}-pc
  tags:
    - share-fe-package-runner
  needs:
    - build_pc

