.ant-layout .ant-layout-header {
  height: 50px;
  padding-inline: 20px;
}
.ant-menu {
  padding: 0 8px;
}
/* ant-message */
.ant-message-notice-content svg {
  display: inline;
  vertical-align: baseline;
}
/* button */
.ant-btn {
  border-radius: 6px;
}
.ant-btn > .anticon {
  line-height: 0;
}
.ant-btn > .ant-btn-loading-icon .anticon {
  display: flex;
  align-items: center;
}
/* modal */
.ant-modal-content {
  border-radius: 6px;
}
.ant-modal-header {
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}
.ant-modal-header .ant-modal-title {
  color: #32363e;
  font-size: 16px;
  font-weight: 600;
}
.ant-modal-body {
  background-color: #ffffff;
  border-radius: 6px;
}
/* spin */
.ant-spin-nested-loading > div:first-of-type {
  position: unset;
}
/* 图片预览位置修改 */
.ant-image-preview-content {
  height: 100%;
}
.ant-image-preview-img {
  margin: 0 auto;
}
.ant-image-preview-img-wrapper::before {
  height: 0;
}
.ant-image-preview-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 公共样式按钮 */
/* table */
.ant-table-wrapper .ant-table-tbody tr td {
  height: 42px;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #333333 !important;
  line-height: 18px !important;
  padding: 0!important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  min-height: 42px !important;
  background-color: #f3f3f3 !important;
  line-height: 20px !important;
  font-size: 14px;
  font-weight: 400 !important;
  color: black !important;
  padding: 14px 2px !important;
}
.ant-table-wrapper .ant-table-tbody tr:nth-child(odd) {
  background: #f3f3f3;
}
.ant-table-wrapper .ant-table-tbody tr:nth-child(odd) td {
  background: #f3f3f3;
}
.ant-table-wrapper .ant-table .ant-table-header,
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child,
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-radius: 0;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > .ant-table-cell-fix-right-first::after {
  display: none;
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th::before {
  background: #e7e7e7 !important;
}
.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(
    [colspan]
  )::before {
  background: #e7e7e7 !important;
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th:nth-last-child(2)::before {
  background: none !important;
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th {
  border: none;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
}
.ant-input-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
textarea.ant-input,
.ant-picker-range,
.ant-picker {
  border-radius: 8px;
  min-height: 30px;
  width: 100%;
}
.ant-input-affix-wrapper span,
.ant-select:not(.ant-select-customize-input) .ant-select-selector span,
textarea.ant-input span,
.ant-picker-range span,
.ant-picker span {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > .ant-table-cell-fix-right-first::after {
  border: none;
}
.ant-table-cell-scrollbar {
  box-shadow: none;
}
.ant-table-thead > tr > th.ant-table-cell.ant-table-selection-column::before {
  content: '';
  border-radius: 1px;
  position: absolute;
  right: 0;
  width: 1px;
  height: 1.6em;
  transform: translateY(-50%);
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th::before {
  background-color: #e7e7e7 !important;
}
.ant-pagination-item-active {
  background: #00706b;
  border-radius: 4px;
  border: none;
}
.ant-pagination-item-active:hover a {
  color: #fff;
}
.ant-pagination-item-active a {
  color: #fff;
}
.ant-input-group-addon {
  border-radius: 8px;
  background-color: #fff;
}
.ant-input-group-addon + .ant-input-affix-wrapper {
  border-left: none;
  text-align: right;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
}
.ant-form-item-control-input-content {
  min-height: 40px;
}
.ant-picker-focused {
  box-shadow: none;
}
.ant-form-item-label {
  line-height: 40px;
}
.ant-popover-inner-content {
  padding: 10px;
}
.ant-popover .ant-popover-inner {
  padding: 0;
}
.ant-pagination {
  align-items: center;
}
.ant-table-pagination.ant-pagination {
  margin: 16px 0 0;
}
.ant-menu-sub.ant-menu-inline {
  background: none !important;
}
.ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
  color: #00706b !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #f2f3f5 !important;
  font-weight: 500;
}
.chart-box-border {
  position: relative;
  border: 1px solid #EAEAEA;
}

.ant-calendar-year-panel-body{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
